*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #899;
    height: 40px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 40px;
    padding: 0 50px;
    font-weight: bold;
    margin-left: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;   
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
#erroricon{
    background: rgb(255, 255, 255) url(error.gif.png) no-repeat;
    background-size: 97%;
    height: 15vh;
    width: 15vh;
    position: absolute;
    margin-left: 700px;
    margin-right: 0px;
    margin-top: 420px;
}
#errorrefresh-button{
    background-color: rgb(181, 181, 181);
    height: 50px;
    width: 270px;
    position: absolute;
    margin-left: 619px;
    margin-top: 540px;
    border-radius: 9px;
    border: 1.75px solid black;
}
#error-refresh-icon{
    background: rgb(181, 181, 181) url(refreshbutton.png) no-repeat ;
    background-size: 98%;
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: 740px;
    margin-top: 550px;
}
#preloader{
    background: var(--primary-color) url(loader.gif.gif) no-repeat center center;
    background-size: 7%;
    height: 30vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    margin-top: 440px;
}
#loader{
    background: rgb(255, 255, 255) url(loader.gif.gif) no-repeat center center;
    background-size: 7%;
    height: 19vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    margin-top: 720px;
}
.error{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 690px;
    margin-top: -50px;
}
a.active,a:hover{
    background: #999;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 700px){
    label.logo{
        font-size: 10px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 700px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 8%;
        height: 100vh;
        background: #555;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 10px;
    }
    a:hover,a.active{
        background: none;
    }
    .welcome-sign{
        margin-left: 60px;
    }
    .nav{
        display: none;
    }
}

.button{
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: white;
    margin-top: -150px;
    margin-left: 50px;
}

body {
    background-color: var(--primary-color);
}

.continue{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    margin-left: 60px;
    color: var(--secondary-color);
}

.friends{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-left: 60px;
    color: var(--secondary-color);
}
#mainloader{
    background: rgb(255, 255, 255);
    background-size: 2.5%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: 0px;
}
.about{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    margin-top: 30px;
    margin-left: 40px;
    color: var(--secondary-color);
}
.aboutinspects{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-left: 40px;
}
.socials{
    width: 150px;
    height: 105px; 
    background-color: rgb(180, 180, 180);  
    margin-left: 50px;
    background:rgb(255, 255, 255) url(youtubelogo.jpg);
    background-size: 97%;
    
    
}
.image{
    width: 150px;
    height: 150px;
    background-color: white;
    background: rgb(255, 255, 255) url(olliehaven.png);
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
}
.button2{
    width: 150px;
    height: 150px;
    background-color: white;
    background: rgb(255, 255, 255) url(Gavinsmash!.jpg);
    border-radius: 100px;
    margin-left: 25px;
    margin-top: 10px;
}
.icon{
    margin-left: 70px;
    margin-top: 5px;
    width: 37px;
    height: 35px;
    background-color: white;
    background: #899 url(Olliebloxlogov2.2.png) center;
    background-size: 110%;
    border: 0px solid;
}
@media(min-width: 1600px){
    .icon {
        margin-left: 20px;
        width: 130px;
        height: 35px;
        background: #899 url(logo-11.png) no-repeat center;
        background-size: 100%;
    }
}
.maintenance{
    height: 800px;
    width: 100%;
    background: rgb(255, 255, 255) url(OllieBloxMantience.png) center;
    background-size: 101%;
}
.welcome-sign{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color);
    margin-left: 60px;
}
#event-tab{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -25px;
    margin-left: 300px;
    color: rgb(143, 190, 255);
}
.avatar{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -43px;
    margin-left: 186px;
}
.skel-load{
    margin-top: -150px;
    background-color: #ffffff;
    width: 150px;
    min-height: 150px;
    border-radius: 5px;
}
.loading{
    background-color: #b3b3b3;
    min-height: 30px;
    position: relative;
    overflow: hidden;
}
.gamename{
    width: 150px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 51px;
    margin-top: 10px;
    color: var(--secondary-color);
}
.loading::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #d3d3d3, transparent);
    transform: translateX(-100%);
    animation: loading 1.1s infinite;
}
@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}
.button{
    min-height: 150px;
}
.recommended-games {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    border-radius: 10px;
}
.errorsection {
    display: none;
}
.main-content{
    margin-left: 190px;
}
.textbox {
    margin-left: 650px;
    margin-top: -15px;
    border: 1px solid;
    width: 250px;
    border-radius: 5px;
    background-color: #d3d3d3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 700px) {
    .textbox {
        margin-top: -20px;
        margin-left: 400px;
        width: 160px;
    }
}
@media (max-width: 1200px) {
    .textbox {
        margin-left: 500px;
    }
}
@media (max-width: 900px) {
    .textbox {
        margin-left: 400px;
        width: 160px;
    }
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #3e3e3e;
}
.dark-theme {
    --primary-color: #3e3e3e;
    --secondary-color: #ffffff;
}
#change {
    color: #ffffff;
    cursor: pointer;
    background-color: #000;
}
.main-logo {
    background: #899 url(olliebloxNewOfficialLogo!\ \(2\).png) no-repeat center;
    width: 250px;
    height: 60px;
}
.news-tab {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -24px;
    margin-left: 430px;
}
