body {
    background: rgb(147, 146, 154);
}
#preloader{
    background: rgb(212, 212, 212) url(loader.gif.gif) no-repeat center center;
    background-size: 15%;
    height: 790px;
    width: 790px;
    margin-left: 345px;
    margin-top: -800px;
    position: absolute;
    z-index: 100
}
.event{
    width: 800px;
    height: 200px;
    background: white url(event1.png) no-repeat center;
    background-size: 100%;
    margin-left: 200px;
}
.recommended{
    width: 800px;
    height: 850px;
    background: rgb(212, 212, 212);
    margin-left: 340px;
    margin-top: 50px;
    border-radius: 5px;
}
.recommended-events{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -820px;
    margin-left: 370px;
}
.event1{
    background: rgb(212, 212, 212) url();
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-left: -780px;
}
.logo{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: -20px;
    margin-left: 50px;
}
.web-logo{
    background: rgb(147, 146, 154) url(Olliebloxlogo\ \(1\).png) no-repeat;
    width: 135px;
    height: 45px;
    
}
@media (max-width: 680px){
    
}